@using BlogFest.Application.Services.Search.Queries.DTOs;
@model SearchDTO

@{
	Layout = "_ContentLayout";
	var pages = (int)Math.Ceiling((float)Model.Count / 3.0f);
}

<div class="col-lg-12">


	@if (Model != null)
	{
		foreach (var item in Model.SearchResult)
		{

			if (item.SearchItemType == SearchItemType.Post)
			{
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-4">
								<img src="\media\@item.ImagePath" class="img-fluid" />
							</div>
							<div class="col-sm-8">
								<div class="d-flex justify-content-between">

									<a href="@Url.Action("GetBySlug", "Post", new {Slug = item.Slug})">
										<h3 class="title">
											@item.Title

										</h3>
									</a>

								</div>
								<p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> @item.DateCreated.ToString("dddd, dd MMMM yyyy")</p>
								<p>@item.Content</p>

								<p class="text-muted">
									Presented by
									<a href="@Url.Action("IndexByName", "User", new {name = item.UserName})">
										@item.UserName
									</a>
								</p>

							</div>
						</div>
					</div>
				</div>
			}

			if (item.SearchItemType == SearchItemType.User)
			{

				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
								<img src="\media\@item.ImagePath" class="img-fluid" style="width:185px; border-radius:50%" />
							</div>
							<div class="col-sm-8">
								<div class="d-flex justify-content-between">

									<a href="@Url.Action("IndexByName", "User", new {name = item.Slug})">
										<h3 class="title">
											@item.Title

										</h3>
									</a>

								</div>
								<p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> @item.DateCreated.ToString("dddd, dd MMMM yyyy")</p>
								<p>@item.Content</p>
							</div>
						</div>
					</div>
				</div>
			}
		}
	}

	@if (Model.SearchResult.Count != 0 && pages > 1)
	{
		<nav aria-label="...">
			<ul class="pagination">

				@for (var i = 1; i <= pages; i++)
				{

					@if (i == Model.Page)
					{

						<li class="page-item active" aria-current="page">
							<a class="page-link" href="#">@i</a>
						</li>
					}
					else
					{
						<li class="page-item"><a class="page-link" href="@Url.Action("Index", new {key = Model.Key,page = i,})">@i</a></li>
					}
				}
			</ul>
		</nav>
	}

</div>
